<div class="grid">
    <table class="table table-hover">
        <thead>
            <tr class="row">
                <th *ngFor="let column of columns" (click)="sortData(column)" class="col-md-2 grid_header">
                    {{column.header}}
                    <i *ngIf="isDescendingOrder(column) == false" class="grid_sort-icon">
                        &uarr;
                    </i>
                    <i *ngIf="isDescendingOrder(column) == true">
                        &darr;
                    </i>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let row of rows; trackBy: trackRow" class="row">
                <td *ngFor="let column of columns" class="col-md-2">
                    <div *ngIf="column.dataType == 'color'">
                        <div [ngStyle]="{'background': row[column.dataField]}" class="grid_color-col"></div>
                    </div>
                    <div *ngIf="column.dataType != 'color'">
                        {{row[column.dataField]}}
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>